<%- include('partials/head') %> <%- include('partials/navbar') %>

<h1>The Home Page <%='helloworld'.toUpperCase()%></h1>
<p>
	Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores saepe porro
	molestias, possimus nam praesentium nulla minus adipisci laboriosam iusto
	consequuntur ullam quaerat accusantium corrupti mollitia quisquam, aliquam
	nihil beatae!
</p>
<%- include('partials/footer') %>
