#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#controls label {
    margin: 10px 10px;
}

#createDiv {
    background-color: blue;
    color: white;
    border: 1px ;
    padding: 10px 10px;
    cursor: pointer;
    margin: 10px;
}

#createDiv:hover {
    background-color: rgb(73, 182, 224);
}

.div {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
}