<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Product</title>
	</head>
	<body>
		<h1>Add A Product</h1>
		<form action="/products" method="POST">
			<label for="name">Product Name:</label>
			<input type="text" name="name" id="name" placeholder="Product Name" />
			<label for="price">Price:</label>
			<input
				type="number"
				name="price"
				id="price"
				placeholder="Product Price"
			/>
			<label for="category">Select Category:</label>
			<select name="category" id="category">
				<option value="fruit">Fruit</option>
				<option value="vegetable">Vegetable</option>
				<option value="dairy">Dairy</option>
			</select>
			<button>Submit</button>
			<br />
			<a href="/products/">View All Products</a>
		</form>
	</body>
</html>
