<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TEMPLATE</title>
	</head>
	<body>
		<h1>The Home Page</h1>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores saepe
			porro molestias, possimus nam praesentium nulla minus adipisci laboriosam
			iusto consequuntur ullam quaerat accusantium corrupti mollitia quisquam,
			aliquam nihil beatae!
		</p>
	</body>
</html>
