#container_align-content_MDN {
    height: 200px;
    width: 240px;
    align-content: center; /* Can be changed in the live sample */
    background-color: #8c8c8c;
}
.flex_align-content {
    display: flex;
    flex-wrap: wrap;
}
div > div {
    box-sizing: border-box;
    border: 2px solid #8c8c8c;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
#item1_align-content {
    background-color: #8cffa0;
    min-height: 30px;
}
#item2_align-content {
    background-color: #a0c8ff;
    min-height: 50px;
}
#item3_align-content {
    background-color: #ffa08c;
    min-height: 40px;
} 
#item4_align-content {
    background-color: #ffff8c;
    min-height: 60px;
}
#item5_align-content {
    background-color: #ff8cff;
    min-height: 70px;
}
#item6_align-content {
    background-color: #8cffff;
    min-height: 50px;
    font-size: 30px;
}