/* ___________NAVBAR___________ */
* {
    box-sizing: border-box;
}

body {
    background-color: #778da9;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0);
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navOpacity {
    background-color: #333;
    transition: 1s ease;
    background-color: #212529ec;
}

.brand-title a {
    font-size: 1.5rem;
    margin: .5rem;
    text-decoration: none;
    color: #e0fbfc;
    margin: 0;
    padding: 8px 16px;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a:hover {
    color: white;
}

.navbar-links li a {
    text-decoration: none;
    color: #dee2e6;
    padding: 1rem;
    display: block;
    text-decoration: none;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 400px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* ___________BODY___________ */

#main section {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

#header {
    padding: 7em 5em 4em 5em;
    text-align: center;
}

#header h1 {
    font-size: 3.25em;
    margin: 0 0 0.25em 0;
    font-weight: 400;
    letter-spacing: .05em;
    color: #ffffff;
}

#header p {
    font-size: 1.1em;
    margin-top: 0em;
    margin-bottom: 1em;
    font-weight: 400;
    letter-spacing: -.05em;
    color: #d9d9d9;
}

/*___________Main Content 1___________ */

#main section h2 {
    color: white;
    letter-spacing: .5em;
    font-size: 1.25em;
    font-weight: 400;
    display: inline-block;
    text-decoration: underline;
}

#main section {
    margin-right: 10rem;
    margin-left: 10rem;
    background-color: rgba(71, 71, 71, 0.9);
    display: block;
    border-radius: 15px;
}
/* PROJECTS */
header .projects-header h2 {
    display: block;
}
/*___________ CONTENT CARD ___________*/

.content {
    display: flex;
    background-color: rgba(255, 255, 255, 0.15);
    height: 400px;
    width: 800px;
    padding: 1em;
    margin: 1em;
    color: rgb(255, 255, 255);
    border: 1px rgba(255, 255, 255, 0.5) solid;
    border-radius: 6px;
    box-shadow: 0 25px 45px rgb(0 0 0 / 10%);
}

/* ___________ABOUT ME___________ */
.about-title {

}

/* ___________CONTACT___________ */
.contact-title {

}

/* ___________FOOTER___________ */